{extend name="Public/index" /}
{block name="title"}商品列表{/block}
{block name="content"}
<div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="example1_length">
                    <span>商品列表</span>
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div id="example1_filter" class="dataTables_filter">
                            <label>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">搜索：</font>
                                </font>
                                <form action="/admingoods/index" method="get">
                                    <input type="search" class="form-control input-sm" name="keyword" aria-controls="example1">
                                    <button class="btn btn-danger" type="submit">搜索</button>
                                </form>
                            </label>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" style="text-align:center;">
                        <thead>
                            <tr role="row" style="text-align:center;">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 126px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">ID</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 156px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">商品类别</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 126px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">商品名称</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 126px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">商品价格</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 106px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">商品图片</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 166px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">描述</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 166px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">库存</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 166px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">状态</font>
                                    </font>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 206px;text-align:center;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">操作</font>
                                    </font>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        
                      {foreach name='list' item='val'}
                         <tr role="row" class="odd">
                                <td class="sorting_1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{$val['id']}</font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{$val['name']}</font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{$val['goodsname']}</font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"> 
                                           {$val['price']}
                                        </font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"><img width='50' height="50" src="/uploads/{$val['pic']}" alt=""></font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{$val['descr']}</font>
                                    </font>
                                </td>
                                 <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{$val['num']}</font>
                                    </font>
                                </td>
                                 <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                        {if condition="$val['status']==1"} <p class="bg-success">在售</p>
                                        {else /} <p class="bg-danger">已下架</p>
                                        {/if}                                  
                                        </font>
                                    </font>
                                </td>
                                <td>
                                   <a class="btn btn-info" href="/admingoods/edit/id/{$val['id']}" role="button">修改</a><a class="btn btn-danger" href="/admingoods/delete/id/{$val['id']}" role="button">删除</a>
                                </td>
                            </tr>
                     
                           {/foreach}
                        </tbody> 
                    </table>
                    <div class="col-sm-12">
                        <div style="float:right;">
                         {$list->appends($request)->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/block}
