<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{block name='title'}{/block}</title>
    {block name='lianjie'}{/block}   
</head>

<body>
    <div class="hmtop">
        <!--顶部导航条 -->
        <div class="am-container header">
            <ul class="message-l">
                <div class="topMessage">
                    <div class="menu-hd">
                        <a href="{if condition="!empty($Think.session.email)"}/indexgrzx/index{else /}/indexlogin/index{/if}" target="_top" class="h">{if condition="!empty($Think.session.email)"}     欢迎你,{$Think.session.email}
                            {else /} 亲，请登录
                            {/if}
                        </a>
                        <a href="{if condition="!empty($Think.session.email)"}/indexlogin/outlogin{else /}/indexreg/index{/if}" target="_top">{if condition="!empty($Think.session.email)"}退出
                            {else /}免费注册
                            {/if}
                        </a>
                    </div>
                </div>
            </ul>
            <ul class="message-r">
                <div class="topMessage home">
                    <div class="menu-hd"><a href="/indexhome/index" target="_top" class="h">商城首页</a></div>
                </div>
                <div class="topMessage my-shangcheng">
                    <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                </div>
                <div class="topMessage mini-cart">
                    <div class="menu-hd"><a id="mc-menu-hd" href="/cart/index" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="gwcjs"></strong></a></div>
                    <input class="uid" type="hidden" value="{if condition="!empty($Think.session.uid)"}{$Think.session.uid}{else /}0{/if}">
                </div>
                <div class="topMessage favorite">
                    <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
            </ul>
        </div>
        <script>
            $(function(){
                if ($('.uid').val()) {

                    $.get('/indexhome/gwc',{id:$('.uid').val()},function(data){
                        $('.gwcjs').html(data);
                    })
                }
            })
        </script>
        <!--悬浮搜索框-->
        <div class="nav white">
            <div class="logo"><img src="/static/index/images/logo.png" /></div>
                <div class="logoBig">
                    <li><img src="/static/index/images/logobig.png" /></li>
                </div>
                <div class="search-bar pr">
                    <a name="index_none_header_sysc" href="#"></a>
                    <form>
                        <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
                        <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {block name='content'}{/block}