{extend name="Public/index" /}
{block name="title"}添加导航{/block}
{block name="content"}
<section class="content-header">
    <h1>
        <i class="fa fa-user"></i>
        导航管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="">导航管理</a></li>
        <li class="active">添加导航</li>
    </ol>
</section>
<section class="content">
  
        <div class="row">
            <!-- right column -->
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            添加导航
                        </h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" action="/adminnavig/insert" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">导航名:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="name" required="required">
                                </div>          
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">URL:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="url" required="required">
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-1">
                                <button type="submit" class="btn btn-success">添加</button>
                            </div>
                            <div class="col-sm-1">
                                <a href="/adminnavig/add" class="btn btn-danger">重置</a>
                            </div>
                        </div><!-- /.box-footer -->
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            &nbsp;
                        </div>
                    </div>
                </div><!-- /.box -->
            </div><!--/.col (right) -->
        </div><!-- /.row -->
 
</section>

{/block}